<!DOCTYPE html>
<html>
<head> 
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script>
function myFunction() {
  var x = document.getElementById("box").value;
  
}
</script>
	</head>
	<body>
		<br>
		<div class="container">
<form id="tableForm" action="/value" method="POST">
        <select class="selectpicker" data-style="btn-info" id="box" name="selectpicker">
            <optgroup label="Select Table">
				<% for(var i in arr) 
                { %>
				<option name="table1" value="<%= arr[i] %>"><%= arr[i] %></option>
                <% } %>
			</optgroup>
        </select>
	<input type="submit" value="Submit">
    </form>
		</div>
	</body>
</html>